* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Century Gothic", "Poppins";
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

/* ////////////////////////////////////////////////////////////////////// HEADER */

header {
  background-color: #f6f6f6;
  text-transform: uppercase;
}

header .container {
  padding: 22px 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          max-width: 1400px;
}

header a {
  font-size: 16px;
  padding: 27px 10px 30px;
  margin-right: 60px;
}

header a:hover {
  background-color: #ffea00;
}

header #menuCheckbox {
  display: none;
}

/* /////////////////////////////////////////////////////////////////////// MAIN */

main {
  background: url(img/slider_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main .container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 120px 10% 305px;
}

main h1 {
  background-color: #ffea00;
  display: inline;
  font-size: 70px;
  font-weight: 500;
  text-transform: uppercase;
}

main p {
  background-color: #414146;
  color: white;
  display: inline-block;
  font-size: 24px;
  padding: 6px;
  margin: 1px;
}

/* ////////////////////////////////////////////////////////////////// SPECIALIZE */

#specialize {
  padding: 90px 0;
}

#specialize .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10%;
  text-align: center;
}

#specialize .text {
  color: #424147;
}

#specialize h2 {
  font-size: 35px;
  font-weight: 500;
}

#specialize .text p {
  margin: 28px 0 60px;
  font-size: 24px;
}

.specializeCards {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bottomCard {
  background-color: #414146;
  font-size: 13px;
  position: relative;
  top: -5px;
  min-height: 100px;
}

.bottomCard p {
  padding: 30px 10px;
}

#specialize .card {
  max-width: 250px;
  margin: 0 10px
}

#specialize img {
  width: 100%;
  height: auto;
}

/* ////////////////////////////////////////////////////////////////////////// PORTFOLIO */

#portfolio {
  padding: 60px 0 30px;
  text-align: center;
}

#portfolio .container {
  margin: 0 8%;
}

#portfolio h3 {
  display: inline;
  font-size: 18px;
  color: #ffea00;
  background-color: #424147;
  padding: 9px 28px;
}

#portfolio p {
  font-size: 16px;
  color: #424146;
  margin: 40px 0 27px;
}

.togles button {
  border: 0;
  color: #424146;
  cursor: pointer;
  font-size: 16px;
  background-color: #fff;
}

.togles button:not(:last-child):after {
  content: " / ";
}

.posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  margin: 35px auto 0;
  max-width: 1400px;
  padding: 0 10%;
}

.posts img {
  width: 100%;
  height: auto;
}

/* /////////////////////////////////////////////////////////////////////// CLIENTS */

#clients {
  padding: 60px 10% 30px;
  text-align: center;
}

#clients .container {
  max-width: 1400px;
  margin: 0 auto;
}

#clients h3 {
  display: inline;
  font-size: 18px;
  color: #ffea00;
  background-color: #424147;
  padding: 9px 28px;
}

#clients p {
  font-size: 16px;
  color: #424146;
  margin: 40px 0 27px;
}

/* /////////////////////////////////////////////////////////////////////// FOOTER */

footer {
  background-color: #414146;
  color: white;
  padding-top: 30px;
}

footer .container {
  max-width: 1400px;
  padding: 0 5%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 50px 3fr 50px 2fr;
  grid-template-columns: 3fr 3fr 2fr;
  grid-column-gap: 50px;
}

footer h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}

footer p {
  font-size: 13px;
}

.aboutUs button {
  background-color: #000000;
  color: white;
  border: 0;
  padding: 13px 18px;
  border-bottom: 2px solid #eeda00;
  margin: 34px 0 44px;
}

footer .icon {
  margin-right: 15px;
}

.tweets .date {
  margin-bottom: 15px;
  color: #eeda00;
  font-size: 8px;
  margin-left: 50px;
}

.tweets p {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tweets span {
  color: #eeda00;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contacts p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 15px 250px;
  grid-template-columns: 30px 250px;
  grid-column-gap: 15px;
  margin-bottom: 20px;
}

.contacts {
  margin-bottom: 48px;
}

.contacts h3 {
  margin-bottom: 52px;
}

.contactUs form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 18px;
}

.contactUs input {
  width: 232px;
  height: 30px;
  background-color: inherit;
  border: 0;
  border-bottom: 2px solid #eeda00;
  outline: none;
  caret-color: white;
  margin-bottom: 30px;
}

.contactUs button {
  width: 28px;
  height: 28px;
  border: 0;
  margin-bottom: 30px;
}

/* ///////////////////////////////////////////////////////////////// FOOTER NAV */

footer nav {
  padding: 27px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #000;
}

footer nav a {
  color: white;
  margin: 0 20px;
}

/* ///////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 970px) {
  header a {
    margin-right: 10px;
  }

  footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 690px) {
  .navMenu {
    display: none;
  }

  .navMenu li {
    display: block;
    font-size: 12px;
  }

  .navMenu a {
    display: block;
    padding: 8px;
  }

  .togleButton {
    padding-top: 45px;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10%;
    top: 25px;
  }

  .togleButton:before {
    content: attr(data-open);
    display: block;
  }

  #menuCheckbox:checked + nav[role="navigation"] .navMenu {
    display: block;
  }

  #menuCheckbox:checked + nav[role="navigation"] .togleButton:before {
    content: attr(data-close);
  }

  header .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  header .navMenu {
    margin-top: 80px;
    text-align: right;
  }

  header a {
    border-right: 2px solid black;
  }

  main .container {
    padding: 70px 0px 200px;
  }

  main h1 {
    font-size: 50px;
  }

  main p {
    font-size: 16px;
  }

  #specialize {
    padding: 30px 0 0;
  }

  #specialize .card {
    margin-bottom: 30px;
  }

  .specializeCards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}